
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete this post?</p>
        <div class="modal-buttons">
            <button onclick="confirmDelete()" class="confirm-delete">Yes, delete</button>
            <button onclick="closeDeleteModal()" class="cancel-delete">Cancel</button>
        </div>
    </div>
</div>