<div id="photoModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 hidden p-4 z-10">
    <div class="relative max-w-4xl bg-neutral-200 p-4 rounded-lg overflow-hidden">
        <img id="modalPhoto" src="" alt="Image en grand" class="h-full max-h-[calc(100vh-8rem)] object-contain">
    </div>
</div>
