.first-block {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    gap: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    width: 100%;
    font-family: "Open Sans";
}

.first-block label:first-of-type {
    font-size: 6em;
    font-weight: bold;
    line-height: 1.2;
}

.first-block label:last-of-type {
    font-size: 1.8em;
}

.first-block button {
    background-color: #e20074; /* rose vif comme dans la maquette */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.first-block button:hover {
    background-color: #ff57a1;
    transform: scale(1.1);
}


.second-block {
    width: 100%;
    padding: 10vh 5%;
    background-color: #ffffff;
    text-align: center;
}

.second-block-title {
    display: block;
    font-size: 1.5rem;
    color: #888;
    margin-bottom: 1vw;
    font-weight: 500;
}

.second-block .card {
    background-color: #ffffff;
    border-radius: 1vw;
    box-shadow: 0px 2vw 4vw rgba(0, 0, 0, 0.05);
    padding: 3vw 2vw;
    text-align: left;
    width: 25vw;
    margin: 1vw;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.second-block .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4vw 8vw rgba(0, 0, 0, 0.1);
}

.second-block .card img {
    width: 5vw;
    height: 5vw;
    margin-bottom: 1vw;
}

.card-title {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #001e4d;
    margin-bottom: 10px;
    line-height: 1.4;
}

.card-text {
    display: block;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
}
