body {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
}

.header-background {
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    margin-bottom: 10vw;
}

footer {
    margin-top: 10vw;
}