/* assets/styles/app.css */

.forfaits, .lots {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.forfaits-grid, .lots-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
}

.forfaits > .title, .lots > .title {
    font-size: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4vh;
}

.forfaits > .retour, .lots > .retour {
    cursor: pointer;
}

.forfaits > .retour > i, .lots > .retour > i {
    margin-right: 1rem;
}

.forfait, .lot {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0 2rem 1rem;
    background-color: white;
    font-size: 1.3rem;
    flex: 0 0 70vw;;
    box-sizing: border-box;
    color: black;
    box-shadow: 0 12px 20px rgb(0, 0, 0);
    transition: box-shadow 0.15s ease-out, height 0.4s ease-out, background-color 0.2s ease-out;;
    overflow: hidden; /* Important pour que la transition soit visible */
    justify-content: space-between;
}

.forfait.selected {
    background-color: #fff3d0;
}

.lot.selected {
    background-color: #d0f3ff;
}

.forfait:hover, .lot:hover {
    box-shadow: 0 12px 7px rgb(0, 0, 0);
}

.forfait > .top > .nom, .lot > .nom {
    color: #0a3d62;
}

.forfait > .top > *, .lot > * {
    margin: 1rem 0 0;
}

.forfait > .top > .price, .lot > .price {
    margin-top: 0;
}

.forfait:not([data-role="FORFAIT_ONG_PERSO"]) > .top {
    border-bottom: thin solid #041c2f3d;
    padding-bottom: 0.3rem;
}

.forfait ul {
    padding-top: 0.5rem;
    padding-left: 0;
    text-align: left;
    list-style-type: none;
    will-change: height;
    transition: height 0.4s ease-out, opacity 0.3s ease;
}

.forfait ul li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    padding-right: 2rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.forfait.selected ul li {
    border-bottom-color: #0002;
}

.forfait ul li::before {
    content: "check";
    font-family: 'Material Icons';
    position: absolute;
    left: 0;
    color: #4CAF50; /* Couleur verte pour les check */
    font-size: 20px;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
}

.forfait ul li:hover::before, .forfait ul li.active::before {
    color: #2efa71;
}

.forfait ul li .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.forfait ul li .price {
    text-decoration: line-through;
}

.forfait ul li .arrow {
    opacity: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    font-size: 0.8rem;
    margin-left: 10px;
}

.forfait ul li:hover .arrow {
    opacity: 1;
}

.forfait ul li.active .arrow {
    opacity: 1;
    transform: rotate(90deg);
}

.forfait ul li .description {
    overflow: hidden;
    transition: all 0.1s ease-out;
    padding-left: 0.5rem;
    font-size: 1rem;
    border-top: 1px solid transparent; /* Préparation de la bordure */
    max-height: 0;
    width: 110%;
}

.forfait ul li.active .description {
    border-top-color: #f0f0f0; /* Animation de la bordure */
}

.forfait.selected ul li.active .description {
    border-top-color: #0002; /* Animation de la bordure */
}

.forfait form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.forfait button, .lot button, .order-summary button {
    width: 87%;
    padding: 1.4rem 0;
    background-color: #6bc2cc;
    border-style: none;
    border-radius: 0.7rem;
    align-self: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.34);
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.15s ease-out;
}

.forfait button:hover, .lot button:hover, .order-summary button:not(:disabled):hover {
    cursor: pointer;
}

.forfait button:hover, .lot.selected button, .order-summary button:not(:disabled):hover {
    background-color: #8af3ff;
}

.lot:not(.selected) button:hover {
    background-color: #7fd7e1;
}

.order-summary {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 1vw;
    padding-top: 4vh;
}

.lots .order-summary {
    justify-content: end;
}

.forfaits .order-summary {
    justify-content: center;
}

.order-summary h3 {
    font-size: 1.5rem;
}

.order-summary button {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
    white-space: pre-wrap;
    font-size: 1.4rem;
}

.forfaits .order-summary button {
    min-width: 22rem;
    height: 7rem;
}

.price-animation {
    display: inline-block;
    transition: all 0.5s ease-out;
}

.price-change {
    animation: priceBounce 0.5s ease-out;
}

@keyframes priceBounce {
    0% { transform: translateY(0); color: inherit; }
    25% { transform: translateY(-5px); color: #4CAF50; } /* Monte et devient vert */
    75% { transform: translateY(5px); } /* Descend */
    100% { transform: translateY(0); color: inherit; } /* Retour normal */
}

@media screen and (min-width: 900px) {
    .forfait, .lot {
        flex: 0 0 34.5vw;
    }
}

@media screen and (min-width: 1200px) {
    .forfait, .lot {
        flex: 0 0 22.66666666666667vw;
    }
}

@media screen and (min-width: 1900px) {
    .forfait, .lot {
        flex: 0 0 24.25%;
    }
    .forfaits-grid, .lots-grid {
        gap: unset;
        justify-content: space-between;
    }
    .forfaits, .lots {
        width: 90rem;
    }

}