{% extends '../../base.html.twig' %}

{% block content %}
    <div class="bg-lagon flex justify-between w-full" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <div>
            <img src="{{ asset('image/Bulle.svg') }}" class="w-24"/>
        </div>
        <div class="flex justify-center items-center">
            <p class="text-white text-lg md:text-2xl text-center">Conditions générales de vente</p>
        </div>
        <div>
            <img src="{{ asset('image/Bulle.svg') }}" class="w-24" style="transform: scaleX(-1);"/>
        </div>
    </div>
    <div>
        <svg class="-mt-1" id="wave" style="transform:rotate(180deg); transition: 0.3s"
             viewBox="0 0 1440 100" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgba(107, 194, 204, 1)" offset="0%"></stop>
                    <stop stop-color="rgba(107, 194, 204, 1)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                  d="M0,40L21.8,36.7C43.6,33,87,27,131,30C174.5,33,218,47,262,55C305.5,63,349,67,393,61.7C436.4,57,480,43,524,31.7C567.3,20,611,10,655,6.7C698.2,3,742,7,785,11.7C829.1,17,873,23,916,35C960,47,1004,63,1047,70C1090.9,77,1135,73,1178,65C1221.8,57,1265,43,1309,43.3C1352.7,43,1396,57,1440,51.7C1483.6,47,1527,23,1571,26.7C1614.5,30,1658,60,1702,65C1745.5,70,1789,50,1833,45C1876.4,40,1920,50,1964,60C2007.3,70,2051,80,2095,85C2138.2,90,2182,90,2225,90C2269.1,90,2313,90,2356,76.7C2400,63,2444,37,2487,31.7C2530.9,27,2575,43,2618,56.7C2661.8,70,2705,80,2749,73.3C2792.7,67,2836,43,2880,35C2923.6,27,2967,33,3011,35C3054.5,37,3098,33,3120,31.7L3141.8,30L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z"></path>
        </svg>
    </div>
    <div class="mx-auto md:w-2/3 w-4/5 text-outremer">
        <div class="my-5">
            <h1 class="text-center py-5 text-2xl font-extrabold">Bienvenue chez <strong class="text-fushia">Dive and
                    Collect !</strong>
            </h1>
            <p class="my-5">
                Nous sommes ravis que vous ayez
                choisi de rejoindre notre
                communauté de plongeurs, clubs et structures engagées dans la préservation de la biodiversité
                sous-marine. Avant de commencer votre aventure avec nous, nous vous invitons à lire attentivement
                les présentes Conditions Générales de Vente avant de souscrire à nos abonnements. Elles régissent
                nos échanges et nous permettent de vous offrir la meilleure expérience possible.
            </p>
        </div>
        <div class="mb-12">
            <div class="my-5">
                <h2 class="font-extrabold text-2xl py-3">1. Généralités</h2>
                <p class="mb-5">
                    Les présentes conditions régissent notre relation avec vous, le Client. Elles s’appliquent dès que
                    vous
                    vous inscrivez sur notre plateforme et souscrivez à nos services. Nous souhaitons vous offrir une
                    plateforme claire et transparente pour que vous puissiez profiter pleinement de notre communauté
                    et de nos services.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">1.1 Définitions</h3>
                <p class="mb-3">
                    Pour bien comprendre de quoi nous parlons, voici quelques définitions :
                </p>
                <ul class="my-5">
                    <li class="mb-3 pl-8">
                        <span class="text-lagon">● Client :</span> toute personne (particulier ou entreprise) qui
                        s’abonne à notre service.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="text-lagon">● Plongeur certifié :</span> un plongeur équipé d’un appareil photo
                        étanche et certifié pour plonger.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="text-lagon">● Club de plongée :</span> un centre ou une organisation offrant des
                        services de plongée.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="text-lagon">● Structure à impact :</span> une organisation ou une entreprise
                        œuvrant pour la conservation des océans.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="text-lagon">● Abonnement :</span> le service auquel vous vous abonnez pour avoir
                        accès à notre plateforme et participer à
                        nos activités.
                    </li>
                </ul>
                <h3 class="font-bold text-lg py-3 text-fushia">1.2 Applicabilité des conditions</h3>
                <p>
                    Ces conditions s’appliquent à tout le monde qui utilise nos services. Si des changements y sont
                    apportés, nous vous en informerons rapidement, et les nouvelles conditions seront valables dès leur
                    mise en ligne. Les présentes conditions générales prévalent sur toutes autres conditions générales
                    mêmesicelles-ci devaient spécifier l’inverse. Elles sont en tout temps disponibles et accessibles
                    sur le
                    site de l'entreprise. Elles pourront être modifiées à tout moment par l’entreprise, moyennant
                    communication au client dans les plus brefs délais. La nouvelle version des conditions générales ne
                    sera applicable qu’aux contrats conclus postérieurement à leur entrée en application.
                </p>
                <br>
                <p>
                    Le client est lié par les présentes conditions générales dès la confirmation de son inscription ou
                    de son paiement pour tout abonnement, service, ou produit commandé en ligne sur le site de Dive and
                    Collect. Le Client est présumé en avoir pris connaissance et les avoir comprises.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">2. Conditions générales pour tous les clients</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">2.1 Abonnement et inscription</h3>
                <p>
                    Pour souscrire à un abonnement, il vous suffit de choisir votre plan (plongeur, club ou structure)
                    et de vous inscrire en ligne. Vous devrez remplir les informations nécessaires et garder vos
                    identifiants de connexion confidentiels. Votre abonnement est personnel et non transférable.
                </p>
                <br>
                <p>
                    Pour souscrire à un abonnement, vous devez :
                </p>
                <ul class="my-5">
                    <li class="pl-8 mb-3">
                        ● Choisir un plan (« Plongeur certifié », « Club de plongée » ou « Structure à impact »).
                    </li>
                    <li class="pl-8 mb-3">
                        ● Compléter le formulaire d’inscription sur notre site.
                    </li>
                    <li class="pl-8 mb-3">
                        ● Procéder au paiement en ligne.
                    </li>
                </ul>
                <h4 class="font-bold text-lg py-3 text-fushia">2.1.1 Types d’abonnement</h4>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Mensuel :</span> Facturation chaque mois à date fixe, avec
                        possibilité de résiliation à tout moment.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Annuel :</span> Facturation unique pour 12 mois, offrant
                        une
                        stabilité budgétaire et des avantages tarifaires.
                    </li>
                </ul>
                <h4 class="font-bold text-lg py-3 text-fushia">2.1.2 Inscription et confidentialité</h4>
                <p>
                    L’inscription s’effectue via notre site. Vous êtes responsable de fournir des informations exactes
                    et de
                    maintenir la confidentialité de vos identifiants. L’abonnement est personnel et non transférable.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">2.2 Prix et paiement</h3>
                <p>
                    Le prix de votre abonnement est affiché clairement sur notre site. Une fois l’abonnement payé, vous
                    aurez accès à notre plateforme. Les modalités de paiement sont souples et peuvent être mensuelles
                    ou annuelles, selon ce que vous préférez.
                </p>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Tarification claire :</span> Les prix des abonnements
                        (mensuel ou annuel) sont affichés sur notre
                        site.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Paiement immédiat:</span>Le paiement valide l’accès à nos
                        services.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Modes de paiement acceptés:</span>Carte bancaire ou autres
                        solutions mentionnées sur le site.
                    </li>
                </ul>
                <h4 class="font-bold text-lg py-3 text-fushia">2.2.3 Paiement et facturation</h4>
                <p>
                    L’achat des abonnements Dive and Collect se fait exclusivement via le site officiel de Dive and
                    Collect.
                    L’inscription à un abonnement s’effectue à l’aide d’un formulaire en ligne disponible sur le site ou
                    sur
                    une page webappartenant à Dive and Collect. Lors de l’inscription, le Client remplit tous les champs
                    obligatoires du formulaire et procède immédiatement au paiement en ligne par carte bancaire ou
                    tout autre moyen de paiement accepté.
                </p>
                <br>
                <p>
                    L’accès à l’espace client, ainsi qu’au contenu associé à l’abonnement souscrit, est immédiatement
                    activé une fois le paiement validé.
                </p>
                <h5 class="font-bold text-lg py-3 text-fushia">2.2.3.1 Modalités de paiement</h5>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        ● Les paiements s’effectuent via carte bancaire ou tout autre mode accepté sur le site Dive and
                        Collect.
                    </li>
                    <li class="mb-3 pl-8">
                        ● En cas de retard de paiement, des intérêts de 10 % par an et une pénalité forfaitaire de 10 %
                        (minimum 250 €) s’appliquent.
                    </li>
                    <li class="mb-3 pl-8">
                        ● Une facture électronique est émise après chaque transaction. Vous pouvez consulter votre
                        historique de facturation dans votre espace personnel.
                    </li>
                </ul>
                <h5 class="font-bold text-lg py-3 text-fushia">2.2.3.2 Facturation</h5>
                <p>
                    Les factures relatives aux abonnements Dive and Collect sont envoyées par voie électronique une fois
                    la souscription confirmée. Sauf demande spécifique du Client, Dive and Collect privilégie l’envoi
                    électronique des factures, conformément à l’acceptation des présentes conditions générales.
                </p>
                <br>
                <p>
                    Toute contestation concernant une facture doit être adressée par courrier recommandé à Dive and
                    Collect dans un délai de 8 jours à compter de l’envoi de la facture. Passé ce délai, aucune
                    contestation
                    ne sera recevable de la part d’un Client Professionnel. Si le Client a la qualité de Consommateur,
                    ce
                    délai est étendu à 14 jours.
                </p>
                <br>
                <p>
                    En cas de problème de paiement au moment de la souscription, le Client devra renouveler la
                    tentative de paiement pour valider son inscription. L’abonnement ne pourra être activé tant que le
                    paiement n’aura pas été effectué avec succès.
                </p>
                <br>
                <p>
                    Dive and Collect se réserve le droit de suspendre l’accès aux services en cas de fraude ou
                    d’utilisation
                    abusive du mode de paiement, conformément aux présentes conditions générales.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">2.3 Renouvellement et résiliation</h3>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        ● Les abonnements sont renouvelés automatiquement à la fin de chaque période (mensuelle
                        ou annuelle), sauf résiliation par le Client avant la date de renouvellement.
                    </li>
                    <li class="mb-3 pl-8">
                        ● Résiliation : En cas d’abonnement annuel, aucun remboursement partiel n’est effectué après
                        la période de garantie initiale de 30 jours.
                    </li>
                </ul>
                <h3 class="font-bold text-lg py-3 text-fushia">2.4 Modification de l’abonnement</h3>
                <p class="mb-3">
                    Vous pouvez modifier votre abonnement en cours selon ces règles :
                </p>
                <ul class="my-2">
                    <p class="mb-3">
                        <span class="font-bold text-lagon">Passage à un abonnement supérieur :</span> La mise à niveau
                        est immédiate et calculée au prorata des jours restants de votre cycle actuel.
                        <br>
                        Exemple :</p>
                    <li class="mb-3 pl-8">
                        ● Abonnementactuel: 50€/mois (Standard).
                    </li>
                    <li class="mb-3 pl-8">
                        ● Abonnement supérieur : 80 €/mois (Premium).
                    </li>
                    <li class="mb-3 pl-8">
                        ● Si le passage a lieu au 15e jour : coût additionnel = 80 €- (50 €/30 jours × 15 jours) =
                        55 €.
                    </li>
                </ul>
                <p class="mb-3">
                    <span class="font-bold text-lagon">Passage à un abonnement inférieur :</span> Non autorisé avant la
                    fin du cycle en cours.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">2.4 Gamification</h3>
                <p>
                    Nous avons intégré des fonctionnalités de gamification pour rendre votre expérience plus
                    engageante. Participez à des défis et suivez votre progression dans la conservation sous-marine. Les
                    récompenses sont basées sur votre activité et vos scores. Nous pouvons ajuster ces éléments au fil
                    du
                    temps pour rendre l’expérience encore plus fun et enrichissante !
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">2.5 Devis et prix</h3>
                <h4 class="font-bold text-lg py-3 text-fushia">2.5.1 Abonnements standards</h4>
                <p>
                    Les tarifs des abonnements mensuels et annuels sont clairement affichés sur le site de Dive and
                    Collect. Ces prix sont fixes et ne peuvent être modifiés qu'une fois l’abonnement souscrit. Le
                    paiement valide l’accès aux services et déclenche l’envoi d’une facture électronique.
                </p>
                <h4 class="font-bold text-lg py-3 text-fushia">2.5.2 Services personnalisés</h4>
                <p>
                    Pour les ONG et entreprises privées souhaitant des services adaptés ou des fonctionnalités
                    spécifiques, Dive and Collect propose des devis personnalisés.
                </p>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Demande de devis :</span> Le Client doit fournir une
                        description précise de ses besoins via notre
                        formulaire de contact ou par e-mail.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon"> ● Traitement dela demande :</span> Dive and Collect
                        analysera la demande et fournira une offre
                        écrite dans un délai de 7 jours ouvrables.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon"> ● Validité du devis :</span> Les devis ont une validité de
                        30 jours à compter de leur date d’émission.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Engagement :</span> L’acceptation du devis par le Client
                        doit être confirmée par écrit (e-mail ou
                        signature numérique) pour engager la prestation.
                    </li>
                </ul>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">3. Livraison des Services</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">3.1 Accès</h3>
                <p>
                    Une fois votre paiement validé, vous accédez immédiatement à votre espace personnel et à
                    l’ensemble des services inclus dans votre abonnement.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">3.2 Qualité et disponibilité</h3>
                <p>
                    Nous faisons tout notre possible pour garantir un accès continu et une expérience utilisateur
                    optimale. Toutefois, des interruptions techniques peuvent survenir. Nous vous remercions pour votre
                    compréhension et mettons tout en œuvre pour minimiser ces éventualités.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia"> 3.3 Gamification</h3>
                <p>
                    Les fonctionnalités de gamification, comme les défis et récompenses, visent à promouvoir
                    l'engagement des utilisateurs pour la préservation des océans. Les règles et récompenses peuvent
                    évoluer pour améliorer l’expérience utilisateur.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">4. Propriété Intellectuelle</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">4.1 Protection des Contenus</h3>
                <p>
                    Tout le contenu disponible sur notre plateforme (articles, vidéos, tutoriels, etc…) est protégé par
                    des
                    droits de propriété intellectuelle. Vous êtes libre de l’utiliser dans le cadre de votre abonnement,
                    mais vous ne pouvez pas le reproduire ou le partager sans autorisation préalable et écrite de Dive
                    and Collect.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">4.2 Violation des droits</h3>
                <p>
                    Dive and Collect se réserve le droit de demander des dommages et intérêts pour toute violation de
                    ses droits de propriété intellectuelle.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">5. Résiliation et Garantie</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">5.1 Garantie de Satisfaction</h3>
                <p>
                    Nous offrons une garantie de satisfaction de <span class="font-bold">30 jours</span> pour nos
                    services. Si, malgré vos efforts, vous
                    n’êtes pas satisfait, vous pouvez demander un remboursement en envoyant une preuve de mise en
                    œuvre des actions proposées.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">5.2 Conditions de résiliation</h3>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Abonnement mensuel:</span> Résiliation possible à tout
                        moment avant le renouvellement
                        automatique.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="font-bold text-lagon">● Abonnement annuel:</span> Résiliation possible uniquement à
                        la fin de la période annuelle.
                    </li>
                </ul>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">6. Responsabilité</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">6.1 Dive and Collect</h3>
                <p>
                    Nous garantissons un accès constant à notre plateforme, sous réserve des interruptions techniques
                    inévitables. En aucun cas, Dive and Collect ne pourra être tenu responsable des conséquences liées à
                    des problèmes techniques externes (ex. : panne de réseau, virus, etc.).
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">6.2 Client</h3>
                <p>
                    Le Client est responsable de l’utilisation correcte de la plateforme et de la gestion de son compte.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">7. Confidentialité</h2>
                <p>
                    Nous respectons pleinement la confidentialité de vos données personnelles et nous nous engageons
                    à les protéger conformément à notre politique de confidentialité. Vos données sont protégées
                    conformément au RGPD. Dive and Collect s’engage à les utiliser uniquement pour la gestion de vos
                    abonnements, l’amélioration de nos services, et dans le respect de notre politique de
                    confidentialité.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">8. Conditions exclusivement applicables aux
                    consommateurs</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">8.1 Dive and Collect</h3>
                <p>
                    Les abonnements et services numériques proposés par Dive and Collect entrent dans le cadre des
                    exceptions au droit de rétractation définies par le Code de la consommation. Par conséquent, le
                    Client Consommateur ne bénéficie d’aucun droit de rétractation après validation de son paiement.
                    Cependant, Dive and Collect offre une garantie de satisfaction de 30 jours. Si, après avoir utilisé
                    nos
                    services pendant cette période et en respectant nos conditions d’utilisation, vous n’êtes pas
                    satisfait,
                    vous pouvez demander un remboursement en envoyant une preuve d’utilisation à
                    <span class="font-bold">support@diveandcollect.com</span>.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">9. Dispositions finales</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">9.1 Force majeure</h3>
                <p>
                    Dive and Collect ne peut être tenu responsable en cas d’inexécution de ses obligations dues à des
                    événements imprévisibles et indépendants de sa volonté, tels que : incendies, inondations,
                    épidémies, actes de guerre, pannes de réseau, ou décisions d’autorités.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">9.2 Nullité partielle</h3>
                <p>
                    Si une disposition des présentes CGV est jugée nulle ou inopérante, les autres dispositions
                    resteront
                    pleinement applicables. Les parties s’engagent à remplacer la clause invalidée par une disposition
                    conforme aux intentions initiales.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">9.3 Non-renonciation</h3>
                <p>
                    Le fait pour Dive and Collect de ne pas exercer un droit ou recours en vertu des présentes CGV ne
                    constitue pas une renonciation à ce droit ou recours.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">10. Modification des CGV</h2>
                <p>
                    Nous nous réservons le droit de modifier ces conditions à tout moment. Toute modification sera
                    publiée sur notre site et vous serez informé. Les nouvelles conditions s’appliqueront à partir de
                    leur
                    mise en ligne.
                </p>
            </div>
            <div class="flex justify-center py-6">
                <hr class="w-1/2">
            </div>
            <div class="my-5">
                <h2 class="font-extrabold text-2xl pb-3">11. Droit applicable et résolution des litiges</h2>
                <h3 class="font-bold text-lg py-3 text-fushia">11.1 Droit applicable</h3>
                <p>
                    Les présentes CGV sont régies par le droit français. Toute question relative à leur validité, leur
                    exécution ou leur interprétation sera soumise à la législation en vigueur en France.
                </p>
                <h3 class="font-bold text-lg py-3 text-fushia">11.2 Médiation</h3>
                <p>
                    En cas de désaccord ou de litige lié à l'interprétation ou à l'application des présentes CGV, le
                    Client et
                    <span class="font-bold">Dive and Collect</span> s'engagent à rechercher une solution amiable avant
                    toute procédure judiciaire. À cet
                    effet :
                </p>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        ● Un recours à un médiateur agréé peut être proposé.
                    </li>
                    <li class="mb-3 pl-8">
                        ● Les frais de médiation seront partagés équitablement entre les parties, sauf accord contraire.
                    </li>
                </ul>
                <h3 class="font-bold text-lg py-3 text-fushia">11.3 Recours judiciaire</h3>
                <p>
                    Si aucune solution amiable ne peut être trouvée ou si la médiation échoue, tout litige sera porté
                    devant les tribunaux compétents :
                </p>
                <ul class="my-2">
                    <li class="mb-3 pl-8">
                        <span class="text-lagon font-bold">● Clients résidant dans l’Union Européenne :</span> Les
                        juridictions du lieu de résidence du Client.
                    </li>
                    <li class="mb-3 pl-8">
                        <span class="text-lagon font-bold">● Autres Clients :</span> Les tribunaux compétents du lieu du
                        siège social de Dive and Collect, sauf
                        disposition légale impérative contraire.
                    </li>
                </ul>
                <h3 class="font-bold text-lg py-3 text-fushia">11.4 Plateforme de règlement en ligne des litiges</h3>
                <p>
                    Conformément au règlement européen n° 524/2013, les consommateurs peuvent accéder à la
                    plateforme de règlement en ligne des litiges (ODR) mise en place par la Commission Européenne. Elle
                    est disponible à l’adresse suivante : <a href="https://ec.europa.eu/consumers/odr" class="underline cursor-pointer hover:text-lagon" target="_blank">https://ec.europa.eu/consumers/odr</a>. Cette plateforme peut être
                    utilisée pour régler tout différend non résolu avec <span class="font-bold">Dive and Collect</span> de manière rapide et efficace.
                </p>
                <br>
                <p class="mb-5">
                    Dive and Collect encourage ses utilisateurs à utiliser cette plateforme en cas de litige non résolu afin
                    de garantir une procédure rapide et efficace.
                </p>
                <div class="flex justify-center py-6">
                    <hr class="w-1/2">
                </div>
                <p class="text-sm mt-5">
                    En acceptant ces conditions, vous reconnaissez avoir pris connaissance de toutes les informations
                    liées à l’utilisation de notre service et vous engagez à respecter nos règles. Nous vous remercions
                    pour votre confiance et sommes heureux de vous avoir parmi nous !
                </p>
            </div>
        </div>
    </div>
{% endblock %}
