{% extends '../base.html.twig' %}

{% block content %}
    <style>
        .parallax-bg {
            background-image: url('image/fontvitrine.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-attachment: fixed; /* Ajustez cette valeur pour l'effet de parallax */
        }
    </style>
    <div class="mx-auto shadow-lg">
        <div class="text-white">
            <div
                class="parallax-bg flex flex-col items-center w-full justify-center text-center text-light p-4 relative"
                style="height: calc(100vh - 9rem)">
                <p class="font-bold text-4xl absolute top-[6rem]" style="text-shadow: 2px 2px 4px black;">FAITES DE LA
                    <span class=" text-5xl text-lagon">PLONGÉE</span> <br/> UN SPORT COLLECTIF À <span
                        class="text-4xl text-fushia">IMPACT</span></p>
                <div class="flex w-full items-center pl-5 absolute bottom-[2.5rem]">
                    <p class="font-bold text-3xl" style="text-shadow: 2px 2px 4px black">ENSEMBLE, RENDONS LES <br/>
                        OCEANS PLUS <br/> <span class="text-lagon">BLEUS</span> POUR DEMAIN</p>
                    <button class="h-14 bg-fushia text-white rounded-full px-4 ml-5 font-bold hover:bg-fushia_hover">
                        <a href="{{ path('app_subscription') }}">Engagez-vous avec nous</a>
                    </button>
                </div>
            </div>
            <div class="bg-white text-outremer py-16 lg:py-28 px-8 lg:px-32">
                <div class="lg:grid lg:grid-cols-2 lg:gap-12">
                    <div class="lg:flex lg:align-items-center lg:text-center">
                        <div class="max-w-4xl mx-auto mb-6 lg:mb-0 lg:flex lg:justify-center lg:flex-col lg:mt-5">
                            <h3 class="text-2xl font-bold text-center mb-6 text-outremer">Pourquoi choisir Dive and
                                Collect ?</h3>
                            <p class="text-lg">
                                Imaginez que chaque plongée devienne une action significative pour la planète. Avec
                                Dive and Collect, vos expéditions sous-marines vont bien au-delà de la simple
                                exploration. Elles contribuent directement à la préservation des écosystèmes marins,
                                à la protection de la biodiversité, et à la recherche mondiale. Plongez plus
                                profondément dans votre passion tout en ayant un impact durable.
                            </p>
                            <p class="text-lg font-bold my-8">👉 Rejoignez Dive and Collect aujourd'hui et commencez
                                à donner du sens à vos plongées!</p>
                            <div class="text-center lg:mx-auto">
                                <a href="{{ path('app_subscription') }}"
                                    class="bg-fushia text-white rounded-full px-6 py-3 font-bold hover:bg-fushia_hover">
                                    Plongez avec nous
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid md:grid-cols-2 gap-6 max-w-4xl mx-auto lg:mx-0">
                            <div class="text-outremer p-4 rounded-lg border border-gray-200">
                                <h4 class="font-bold mb-2">🌊 Plongez avec une mission : protéger la planète</h4>
                                <p>Chaque plongée avec Dive and Collect soutient un réseau mondial de scientifiques
                                    et d'ONG dédiés à la protection des océans. En participant, vous contribuez à
                                    collecter des données cruciales pour protéger la vie marine.</p>
                            </div>
                            <div class="text-outremer p-4 rounded-lg border border-gray-200">
                                <h4 class="font-bold mb-2">🔍 Une technologie de pointe à portée de main</h4>
                                <p>Notre plateforme, équipée d'intelligence artificielle, vous permet d'identifier
                                    les espèces marines et de contribuer à des projets de conservation en temps
                                    réel. Vos plongées deviennent une véritable action scientifique.</p>
                            </div>
                            <div class="text-outremer p-4 rounded-lg border border-gray-200">
                                <h4 class="font-bold mb-2">🤝 Rejoignez une communauté mondiale engagée</h4>
                                <p>Faites partie d'un mouvement international de plongeurs passionnés qui partagent
                                    vos valeurs écologiques. Ensemble, vous agissez pour la préservation des
                                    océans.</p>
                            </div>
                            <div class="text-outremer p-4 rounded-lg border border-gray-200">
                                <h4 class="font-bold mb-2">📊 Suivez l'impact de vos plongées</h4>
                                <p>Accédez à des données exclusives sur vos sessions de plongée, suivez les espèces
                                    que vous avez identifiées et voyez concrètement comment vos actions contribuent
                                    à la conservation marine.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-lagon pt-20 lg:pt-10">
                <div class="flex justify-center relative">
                    <p class="font-bold text-xl lg:text-2xl text-center absolute z-10 top-[-55px] lg:top-[-15px]"
                       style="text-shadow: 2px 2px 4px black;">
                        <span class="text-fushia" style="text-shadow: 1px 1px 2px white;">Partagez les photos</span>
                        de vos plongées et participez
                        <br/> au
                        <span class="text-fushia"
                              style="text-shadow: 1px 1px 2px white;"> recensement des espèces </span>
                        sous marines
                    </p>
                </div>
                <svg class="absolute" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 100"
                     xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                            <stop stop-color="rgba(107, 194, 204, 1)" offset="0%"></stop>
                            <stop stop-color="rgba(107, 194, 204, 1)" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                          d="M0,40L21.8,36.7C43.6,33,87,27,131,30C174.5,33,218,47,262,55C305.5,63,349,67,393,61.7C436.4,57,480,43,524,31.7C567.3,20,611,10,655,6.7C698.2,3,742,7,785,11.7C829.1,17,873,23,916,35C960,47,1004,63,1047,70C1090.9,77,1135,73,1178,65C1221.8,57,1265,43,1309,43.3C1352.7,43,1396,57,1440,51.7C1483.6,47,1527,23,1571,26.7C1614.5,30,1658,60,1702,65C1745.5,70,1789,50,1833,45C1876.4,40,1920,50,1964,60C2007.3,70,2051,80,2095,85C2138.2,90,2182,90,2225,90C2269.1,90,2313,90,2356,76.7C2400,63,2444,37,2487,31.7C2530.9,27,2575,43,2618,56.7C2661.8,70,2705,80,2749,73.3C2792.7,67,2836,43,2880,35C2923.6,27,2967,33,3011,35C3054.5,37,3098,33,3120,31.7L3141.8,30L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z"></path>
                </svg>
                <div class="bg-light">
                    <img src="image/presentation_map.png"
                         class="lg:mt-8 mx-auto border-x-2 border-solid border-gray-200">
                </div>
            </div>
            <div class="bg-lagon min-h-10"></div>
            <svg class="absolute -mt-1" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 100"
                 xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="rgba(107, 194, 204, 1)" offset="0%"></stop>
                        <stop stop-color="rgba(107, 194, 204, 1)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                      d="M0,40L21.8,36.7C43.6,33,87,27,131,30C174.5,33,218,47,262,55C305.5,63,349,67,393,61.7C436.4,57,480,43,524,31.7C567.3,20,611,10,655,6.7C698.2,3,742,7,785,11.7C829.1,17,873,23,916,35C960,47,1004,63,1047,70C1090.9,77,1135,73,1178,65C1221.8,57,1265,43,1309,43.3C1352.7,43,1396,57,1440,51.7C1483.6,47,1527,23,1571,26.7C1614.5,30,1658,60,1702,65C1745.5,70,1789,50,1833,45C1876.4,40,1920,50,1964,60C2007.3,70,2051,80,2095,85C2138.2,90,2182,90,2225,90C2269.1,90,2313,90,2356,76.7C2400,63,2444,37,2487,31.7C2530.9,27,2575,43,2618,56.7C2661.8,70,2705,80,2749,73.3C2792.7,67,2836,43,2880,35C2923.6,27,2967,33,3011,35C3054.5,37,3098,33,3120,31.7L3141.8,30L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z"></path>
            </svg>
            <div class="bg-white text-outremer pb-16 lg:pb-24 pt-28 lg:pt-52 pl-8 lg:pl-40 pr-8 lg:pr-0">
                <div class="lg:grid lg:grid-cols-2">
                    <div class="lg:flex lg:align-items-center lg:text-center">
                        <div class="max-w-4xl mx-auto mb-6 lg:mb-0 lg:flex lg:justify-center lg:flex-col">
                            <h3 class="text-2xl font-bold text-center mb-2 lg:mb-3">Importez vos photos et faites-les analyser</h3>
                            <p class="text-center font-bold text-lg mb-2 lg:mb-3">par notre <span class="text-fushia">intelligence artificielle</span></p>
                            <p class="text-center font-bold text-lg mb-6 lg:mb-3">spécialisée dans la reconnaissance des espèces sous-marines. </p>
                            <p class="text-lg">Grâce à cette technologie avancée, vous aurez accès à une multitude d'informations détaillées sur les espèces identifiées.</p>
                            <p class="text-lg">De plus en participant à cette initiative, vous contribuez activement à la collecte de données précieuses pour le recensement des espèces marines, renforçant ainsi notre engagement envers la préservation de la biodiversité océanique et la protection de nos écosystèmes marins.</p>
                        </div>
                    </div>
                    <div class="flex items-center sm:justify-center md-justify-center">
                        <img class="h-[25rem] max-w-full" src="image/import-ia.png" alt="Analyse IA"/>
                    </div>
                </div>
            </div>
            <div class="bg-light">
                <div class="bg-lagon min-h-10"></div>
                <svg class="absolute -mt-1" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 100"
                     xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                            <stop stop-color="rgba(107, 194, 204, 1)" offset="0%"></stop>
                            <stop stop-color="rgba(107, 194, 204, 1)" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                          d="M0,40L21.8,36.7C43.6,33,87,27,131,30C174.5,33,218,47,262,55C305.5,63,349,67,393,61.7C436.4,57,480,43,524,31.7C567.3,20,611,10,655,6.7C698.2,3,742,7,785,11.7C829.1,17,873,23,916,35C960,47,1004,63,1047,70C1090.9,77,1135,73,1178,65C1221.8,57,1265,43,1309,43.3C1352.7,43,1396,57,1440,51.7C1483.6,47,1527,23,1571,26.7C1614.5,30,1658,60,1702,65C1745.5,70,1789,50,1833,45C1876.4,40,1920,50,1964,60C2007.3,70,2051,80,2095,85C2138.2,90,2182,90,2225,90C2269.1,90,2313,90,2356,76.7C2400,63,2444,37,2487,31.7C2530.9,27,2575,43,2618,56.7C2661.8,70,2705,80,2749,73.3C2792.7,67,2836,43,2880,35C2923.6,27,2967,33,3011,35C3054.5,37,3098,33,3120,31.7L3141.8,30L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z"></path>
                </svg>
                <div class=" flex flex-col w-full items-center justify-center">
                    <p class=" text-xl font-bold mt-28 lg:mt-40 text-center text-outremer ">Vos clichés préférés</p>
                    <div class="mt-10 flex w-4/5 flex-wrap justify-between">
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/101.jpg'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class=" w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/121.jpg'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class=" w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/123.jpg'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class=" w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/456.jpg'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class="w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/789.jpg'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class="w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/soph6.jpg'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class="w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/fakarava-sud.webp'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class="w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                        <div class="w-40 h-40 rounded-3xl flex items-end m-2"
                             style="background-image: url('uploads/gallery/iStock-1304092978.jpg'); background-size: cover;">
                            <div style="background-color: rgba(217, 217, 217, 0.7)"
                                 class=" w-full h-8 rounded-b-3xl flex justify-end items-center ">
                                <p class="mr-1">1 000</p>
                                <img class="w-8 mr-2" src="image/like.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center py-8 text-outremer">
                    <img src="uploads/gallery/poisson-feuille-asie.jpg" class=" w-96 h-96 rounded-3xl object-cover mr-8"/>
                    <div class=" w-64 h-64 bg-cover ml-8" style="background-image: url('image/logo_rose.png');">
                        <div class=" flex mt-14 md:ml-10">
                            <p class="mr-1">1 000</p>
                            <img class=" w-8 mr-2" src="image/like.svg"/>
                        </div>
                        <p class="ml-10 mt-5 text-lg text-center">photo du <br/>jour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
